:root {
  --brand: rgb(206, 56, 56);
  --greenA: #2aff2a;
  --redA: #da2d2d;
  --bdDarkPrimary: rgb(255, 255, 255);
  --orangeBg:rgb(255, 184, 51);
  --bdDarkSecondary: #505050;
  --textWhite:#333;
  --textDark:rgb(255, 255, 255);
  }
@import url(//db.onlinewebfonts.com/c/1dc8ecd8056a5ea7aa7de1db42b5b639?family=Gilroy);
@font-face {font-family: "Gilroy"; src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot"); src: url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.woff") format("woff"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/1dc8ecd8056a5ea7aa7de1db42b5b639.svg#Gilroy") format("svg"); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "ISOCTEUR", sans-serif;
}

html {
  font-size: 16px;
}
body {
  background-color: #1E1E1E;
}
.hide {
  display: none;
}
.fadeIn {
  animation: fade 1s ease-in-out;
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

main {
  max-width: 1200px;
  margin: 4vh auto 0 auto ;
}
.stats {
  width: 100%;
  background-color: #333;
  background-size: cover;
}
.latest-report {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
  margin: 0 auto;
  padding-top: 50px;

  color: #333;
}

.country,
.total-cases,
.recovered,
.deaths {
  height: 100px;
}
.total-cases{
  color: skyblue;
}
.recovered{
  color: var(--greenA);
}
.deaths{
  color: var(--redA);
}


.name {
  font-size: 2.2em;
  color: rgb(0, 156, 156);
  font-weight: bold;
}

.change-country {
  cursor: pointer;
  color: rgb(0, 216, 216);
}

.title {
  font-size: 1.3em;
}
.total-cases .value {
  font-size: 2em;
  font-weight: bold;
  color:skyblue;
}
.recovered .value {
  font-size: 2em;
  font-weight: bold;
  color: var(--greenA);
}
.deaths .value {
  font-size: 2em;
  font-weight: bold;
  color: var(--redA);
}
.new-value {
  font-size: 1.3em;
}

.chart {
  width: 80%;
  height: 70vh;
  min-height: 500px;
  background-color: #111;
  margin: 0 auto;
  padding: 50px 0;
}
/* -------- SEARCH COUNTRY -------- */
.search-country {
  position: relative;
  top: 10px;
}
.search-box {
  position: absolute;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 400px;
  height: 30px;

  background-color: #333;

  z-index: 1;
}

.search-box input {
  width: 360px;
  height: 25px;

  border: none;

  background-color: transparent;
  color: #f1f1f1;

  padding-left: 15px;

  font-size: 1.1em;
}
.search-box img {
  width: 20px;
  padding-right: 5px;
  cursor: pointer;
}

.country-list {
  display: flex;

  position: absolute;
  top: 30px;

  width: 400px;
  height: 300px;

  background-color: var(--bdDarkSecondary);
  opacity: 0.9;

  overflow-y: scroll;
}

.country-list ul {
  width: 100%;
}

.country-list ul li {
  list-style: none;
  cursor: pointer;
  padding: 10px;
  color: var(--textWhite);
}
.country-list ul li:hover {
  border-left: 1px solid #f1f1f1;
  background-color: #1E1E1E;
}
/* SCROLL BAR */
.country-list::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.country-list::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
.country-list::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}

/* Handle on hover */
.country-list::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
@media screen and (max-width: 600px) {
  .latest-report {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}


.video-wrap {
  margin-top: 1vh;
  width: 100%;
  height: 80vh;
  overflow: hidden;
  align-items: center;
}
.video-wrap iframe {
  margin-left: 10vw;
  min-width: 80vw;
  min-height: 100%;
}
@media screen and (max-width: 600px) {
  .video-wrap {
    height: 50vh;
    overflow: hidden;
    width: 90vw;
  }
  .video-wrap iframe {
    height: 50vh;
    margin-left: 0;
    width: 90vw;
    overflow: hidden;
  }
}


/* Navbar container */
.navbar {
  overflow: hidden;
  margin-left: 0;
  padding-left: 0;
  height:8vh;
  background:linear-gradient(#333,#555);
  font-family: Arial;
}

/* Links inside the navbar */
.navbar a,#brand {
  float: right;
  margin-right: 3vw;
  height: 100%;
  font-size: 25px;
  font-style: 'Gilroy';
  color: var(--textWhite);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
}
#logo{
  float: left;

  padding: 0;
  margin-right: 0;
  margin-top: 2vh;
  margin-left: 1vw;
}
#logo:hover{
  background-color: unset;
}
#logo img{
  height: 5vh;
}
#brand {
  margin-left: 0vw;
  align-items: center;
  width: 15vw;
  font-weight: 900;
  font-size: 3.5vh;
  float: left;
  margin-top: 0;
  color: #F1F1F1;
  text-shadow: #1E1E1E 2px 2px 2px ;
 }
/* The dropdown container */
.dropdown {
  margin-left: 0;
  float: left;
  padding: 0;
  overflow: hidden;
}

/* Dropdown button */
.dropbtn {
  content: "|||";
      transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
  font-size: 22px;
  width: 6vw;
  height:8vh;
  border: none;
  outline: none;
  color: white;
  padding: 14px;
  background-color: rgb(206, 56, 56);

  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */

}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: rgb(138, 43, 43);
  color: var(--bdDarkPrimary)
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333 ;

  min-width: 15vw;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  width: 100%;
  color: var(--textWhite);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color:rgb(206, 56, 56);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.sumDiv{
  background-image: url('https://image.freepik.com/free-photo/coronavirus-outbreak-pathogen-affecting-respiratory-tract-covid-19-infection-concept-pandemic-viral-infection-coronavirus-inside-human-viral-infection-3d-illustration_92790-195.jpg') ;
  background-repeat: no-repeat;
  background-size: 90vw;
  filter: hue-rotate(170deg) ;
  max-width:90vw;
  padding:8vh 3vw;
  text-align: center;
  color: #1E1E1E;
  margin: 2vh auto;}
.sumTitle{
  margin-bottom: 6vh;
  font-family:serif;
  text-shadow: #f1f1f1 2px  0 5px;
  font-size: 4vw;
  background-color: white;
}
.Summary{
  font-size:1.8vw ;
  max-width: 75VW;
  color: aliceblue;
  text-shadow: #333 1px 2px 5px;
  margin-bottom: 8vh;
}

#red{
  color:rgb(206, 56, 56);
}